# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
publish/

# JetBrains Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
**/packages/*

# Windows
Thumbs.db
Desktop.ini
